/************ all products styles *************/
/**************************************/

.all-products-wrapper {
  padding-top: 5.5rem;
}

/********** products info **************/
.products-info-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  padding-top: 1rem;
}
.products-count {
  flex-grow: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.products-count h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.products-count .filtered {
  color: var(--green-2);
  font-size: 0.6rem;
  padding-left: 0.3rem;
}
.products-count .filtered.hide {
  display: none;
}
.products-sort-wrapper {
  flex: 1 1 max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/********** sort **************/
.product-sort {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-sort select {
  width: min-content;
  background-color: var(--section-100-color-full-opacity);
  color: var(--gray-1);
  border: 1px solid var(--secondary-color);
  padding: 0.4rem 0.3rem;
  border-radius: 0.2rem;
  transition: background-color 0.7s;
}
/********** filters **************/

.open-filter-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  bottom: -1.5px;
  padding: 0.7rem 0.5rem;
  border-left: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.7s;
}
.open-filter-section-button.disable {
  color: var(--secondary-color);
  cursor: not-allowed;
}
.open-filter-section-button span,
.open-filter-section-button svg {
  position: relative;
  transition: transform 0.3s;
}
.open-filter-section-button span {
  opacity: 1;
  right: -100%;
  transform: translate(-50%, 0);
}
.open-filter-section-button svg {
  flex: 1 0 100%;
  right: -20%;
  transform: translate(-50%, -2.5rem);
  opacity: 0.3;
}
.open-filter-section-button.active {
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid var(--secondary-color);
  border-bottom: none;
  padding: 0.7rem 0.5rem;
  background-color: var(--section-100-color-full-opacity);
}
.open-filter-section-button.active span {
  transform: translate(-50%, 2.5rem);
  opacity: 0.3;
}
.open-filter-section-button.active svg {
  transform: translate(-50%, 0rem);
  opacity: 1;
}
.open-filter-section-button.filtered span::before {
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--green-2);
  border-radius: 100%;
  margin-right: 0.5rem;
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--section-100-color-full-opacity);
  min-height: 0;
  height: 0;
  overflow-y: hidden;
  padding: 0 1rem;
  transition: background-color 0.7s, min-height 0.3s, padding 0.5s;
}
.filters-wrapper.active {
  border: 1px solid var(--secondary-color);
  min-height: 10rem;
  height: inherit;
  padding: 1rem;
}

.filter-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}
.filter-info > span {
  font-weight: 700;
}

.reset-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.reset-filter.hide {
  display: none;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filters > div {
  flex: 1 1 calc(50% - 0.3rem);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.filters > div div {
  padding-left: 0.3rem;
}
.filters > div .filter-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.filters svg {
  transition-duration: 0.2s;
}
input:checked ~ label svg {
  --stroke: var(--green-2);
}
/******* color filter *********/

.color-filter .colors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.colors .input-wrapper input {
  display: none;
}

.colors .input-wrapper label svg {
  stroke-width: 0;
}
.colors .input-wrapper input:checked ~ label {
  filter: grayscale(50%);
}
.colors .input-wrapper input:checked ~ label svg {
  stroke-width: 1.5;
  --stroke: inherit;
}

/******* category filter *********/

.category-filter .categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.categories .input-wrapper input {
  display: none;
}
.categories .input-wrapper label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.categories .input-wrapper label svg {
  stroke-width: 0;
}
.categories .input-wrapper input:checked ~ label svg {
  stroke-width: 1.5;
}

/******* price filter *********/
.price-filter .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.price-filter .input-wrapper label {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.price-filter .input-wrapper label input {
  max-width: 15ch;
  border: 1px solid var(--secondary-color);
  color: var(--gray-1);
  border-radius: 0.2rem;
  background-color: var(--background-color);
  caret-color: var(--gray-1);
  padding: 0.2rem 0.3rem;
  transition: background-color 0.7s;
}
.price-filter .input-wrapper label input:focus {
  outline: none;
  border-color: var(--green-2);
}
.price-filter .input-wrapper label input:invalid {
  border-color: var(--red-opacity);
}
/******* inventory filter *********/
.inventory-filter .inventories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inventory-filter .input-wrapper input {
  display: none;
}
.inventory-filter .input-wrapper label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.inventory-filter .input-wrapper label svg {
  --fill: none;
  stroke-width: 0;
}
.inventory-filter .input-wrapper input:checked ~ label svg {
  stroke-width: 1.5;
  --gray-2: red;
}

/************ products wrapper styles *************/
.products-card-wrapper {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  padding: 1.5rem 0;
}
.products-card-wrapper.no-grid {
  grid-template-columns: 1fr !important;
}

/************ product styles *************/

.products-card-wrapper .product {
  width: min(20rem, 90%);
  overflow: hidden;
  padding-bottom: 1rem;
  border-radius: 1.2rem;
}
.products-card-wrapper .product .content {
  position: relative;
  aspect-ratio: 0.8;
  background-color: var(--search-box-color);
}
.products-card-wrapper .product .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-card-wrapper .product .content .colors {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-end;
}
.products-card-wrapper .product .content .colors .color {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.products-card-wrapper .product .content .tags {
  top: 1rem;
  left: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.products-card-wrapper .product .content .tags .tag {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-2);
  display: grid;
  place-items: center;
  color: var(--white);
  font-weight: 700;
  font-size: 0.8rem;
}
.tags .tag.discount {
  background-color: var(--yellow-2) !important;
}
.products-card-wrapper .product .content .buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-end;
}
.products-wrapper .product .content .buttons button.added {
  background-color: var(--yellow-1);
}
.products-card-wrapper .product .content .buttons .change-count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10rem;
  background-color: var(--search-box-color);
}
.products-card-wrapper .product .content .buttons button {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  --stroke: var(--black-1);
}
.products-card-wrapper .product .info .details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.7rem 0.2rem;
}
.products-card-wrapper .product .info .details .category {
  font-size: 1rem;
  color: var(--secondary-color);
}
.products-card-wrapper .product .info .title {
  font-size: 1.3rem;
  font-weight: 600;
}
.products-card-wrapper .product .info .price {
  display: flex;
  gap: 1rem;
  padding: 0.7rem 0;
}
.price .current-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--green-2);
}
.price .base-price {
  color: var(--secondary-color);
  text-decoration: line-through;
}
.no-product {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.no-product h4 {
  color: var(--secondary-color);
}

/************** pre loader styles *************/
/*********************************************/
button.pre-loader {
  background-image: var(--pre-loader);
  background-size: 200%;
  animation: pre-loader 0.7s infinite;
  transition: background-image 0.7s;
  width: 5rem;
  height: 2rem;
}

.pre-loader {
  aspect-ratio: 0.8;
}
.pre-loader .content {
  height: 100%;
  background-image: var(--pre-loader);
  background-size: 200%;
  animation: pre-loader 0.7s infinite;
  transition: background-image 0.7s;
}
@keyframes pre-loader {
  from {
    background-position: 200%;
  }
  to {
    background-position: 0%;
  }
}
/**************************************/
/************ medium size *************/
/**************************************/
@media screen and (min-width: 769px) {
  .filters > div {
    flex: 1 1 calc(33% - 0.3rem);
  }
  .filters > div:last-child {
    /* align-items: center; */
  }
  .products-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************************/
/************* large size *************/
/**************************************/

@media screen and (min-width: 1024px) {
  .filters > div {
    flex: 1 1 calc(24% - 0.3rem);
  }
  .products-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/************ hover styles *************/

svg.trash:hover {
  --fill: var(--red-opacity);
}
.product .buttons button:hover {
  background-color: var(--yellow-1-opacity) !important;
  transition: all 0.3s;
}
