/* 
-480
480-768
769-1024
1024-1200
1200-
*/

/********** global styles **********/
/***********************************/
main {
  width: 100%;
  color: var(--main-font-color);
  background-color: var(--main-color);
}

.center {
  padding: 0.5rem 0.5rem;
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--yellow-1-opacity);
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: -40%;
  left: 40%;
}

.with-badge {
  position: relative;
}
.button {
  cursor: pointer;
}
.svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  user-select: none;
}

.border {
  border: 1px solid red;
}

/************ header styles **********/
/*************************************/

header {
  background-color: var(--section-100-color);
  border-bottom: 1px solid var(--gray-4);
  min-height: 5rem;
}
.header-content {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navbar-container {
  display: none;
}
.header-search-container {
  display: none;
}

.header-logo-container {
  flex-basis: 50%;
  font-size: 1.5rem;
  font-weight: 700;
}
.header-logo-container span:first-of-type {
  color: var(--yellow-1);
}
.header-logo-container span:last-of-type {
  color: var(--green-1);
}

.header-user-info-container {
  flex-basis: 30%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.8rem;
}

/* toggle menu icon */
.header-menu-container .menu > svg:last-child {
  display: none;
}
.header-menu-container .menu.active > svg:first-child {
  display: none;
}
.header-menu-container .menu.active > svg:last-child {
  display: initial;
}
/* toggle menu icon end */

/************ sidebar styles ***************/

.sidebar-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0;
  opacity: 0;
  height: 0vh;
  transition: all 0.3s, opacity 0.2s;
}
.sidebar-content.active {
  margin-top: 1rem;
  display: flex;
  gap: 0.8rem;
  height: calc(100vh - 6rem);
  opacity: 1;
}

.search-box {
  background-color: var(--gray-4);
  border-radius: 100rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.search-box label {
  cursor: text;
  width: 100%;
}
.search-box input {
  all: unset;
  padding: 0.5rem 0.5rem;
  color: var(--gray-1);
  font-size: 0.9rem;
  font-weight: 400;
  width: 95%;
}

.sidebar-toggle-theme {
  margin: 0 auto;
  border: 1px solid var(--gray-2);
  border-radius: 100rem;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  min-width: 50%;
  user-select: none;
}

/* toggle theme icon */
.sidebar-toggle-theme .theme > svg:last-child {
  display: none;
}
.sidebar-toggle-theme.active .theme > svg:first-child {
  display: none;
}
.sidebar-toggle-theme.active .theme > svg:last-child {
  display: initial;
}

.sidebar-toggle-theme .title::before {
  content: "light";
}
.sidebar-toggle-theme.active .title::before {
  content: "dark";
}
/* toggle theme icon end */

.sidebar-toggle-theme:hover {
  color: var(--green-1);
}
.sidebar-navbar-container {
  margin-top: 0.4rem;
}
.sidebar-navbar-container .nav-list-item {
  margin: 0 auto;
  margin-bottom: 0.7rem;
  text-align: center;
}
.sidebar-navbar-container .nav-list-item:hover {
  color: var(--main-font-hover);
}
